.kellojoM-lineSpacing {
  margin-bottom: 0.25rem;
}
.kellojoM-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #f7f7f7;
  --kellojoM-page-header-height: 0px;
}
.kellojoM-page .kellojoM-page-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  top: 0px;
  z-index: 11;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
}
.kellojoM-page .kellojoM-page-header > div {
  flex-grow: 1;
  max-width: 33%;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction,
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction {
  justify-content: center;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction .sapMSF {
  max-width: 20rem;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-title {
  display: flex;
  flex-direction: column;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-title .kellojoM-page-header-title-text {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.kellojoM-page .kellojoM-page-content {
  flex-grow: 1;
  padding: 1rem 2rem 2rem 2rem;
}
.kellojoM-page.kellojoM-page-flg-scrollStarted .kellojoM-page-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.sap-phone .kellojoM-page .kellojoM-page-header {
  flex-direction: column;
  padding: 0px;
  background-color: #395E66;
}
.sap-phone .kellojoM-page .kellojoM-page-header > div {
  max-width: 100%;
}
.sap-phone .kellojoM-page .kellojoM-page-header .sapMText,
.sap-phone .kellojoM-page .kellojoM-page-header .sapMLabel {
  color: #ffffff;
}
.sap-phone .kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction .sapMSF {
  max-width: 100%;
}
.sap-phone .kellojoM-page .kellojoM-page-header .kellojoM-page-header-Actions {
  display: none;
}
.sap-phone .kellojoM-page .kellojoM-page-content {
  padding: 0px;
}
.kellojoM-tableActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.kellojoM-tableActions .kellojoM-tableActions-left,
.kellojoM-tableActions .kellojoM-tableActions-righ {
  display: flex;
  justify-content: center;
  align-items: center;
}
