.budgetBook-SyncWithAppDialog-Sync {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    padding: @defaultPadding;
    box-sizing: border-box;

    .sapMLabel {
        white-space: normal !important;
        text-align: center !important;
    }
}

.budgetBook-SyncWithAppDialog-title {
    margin-bottom: @defaultPadding;
    font-size: @titleFontSize  !important;
    color: @labelDarkGrey !important;
}

.budgetBook-SyncWithAppDialog-status {
    margin: 2 * @defaultPadding 0;
}

.budgetBook-SyncWithAppDialog-signOutLink {
    margin-top: 2 * @defaultPadding;
}