.kellojoM-cameraCapture-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin: @defaultPadding;
    padding: @defaultPadding;
    border: 2px dashed @borderGrey;
    border-radius: @roundBorderRadius;


    :not(:last-child) {
        margin-bottom: @halfPadding;
    }

    .kellojoM-cameraCapture-icon {
        font-size: 4rem;
        background-image: linear-gradient(to left, #005575, #514a9d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 1rem;
    }

    .kellojoM-cameraCapture-progressBarContainer {
        width: 100%;
        height: 0.5rem;
        border: 1px solid @borderGrey;
        background-color: @white;
        border-radius: @roundBorderRadius;
    }

    .kellojoM-cameraCapture-progressBar {
        max-width: 100%;
        height: 100%;
        background: linear-gradient(to left, #005575, #514a9d);
        border-radius: @roundBorderRadius;
        transition: width 0.5s ease-out;
    }
}