

.kellojoM-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    overflow: auto;

    background-color: @backgroundGrey;
    --kellojoM-page-header-height: 0px; //dynamically calculated & updated after rendering
    

    .kellojoM-page-header {
        flex-grow: 0;
        flex-shrink: 0;
        position: sticky;
        top: 0px;
        z-index: 11;

        padding: @defaultPadding 2 * @defaultPadding;
        background-color: @backgroundGrey;

        display: flex;
        flex-direction: row;

        >div {
            flex-grow: 1;
            max-width: 33%;
        }

        .kellojoM-page-header-mainAction, .kellojoM-page-header-Actions {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .kellojoM-page-header-mainAction {
            justify-content: center;

            .sapMSF {
                max-width: 20rem;
            }
        }

        .kellojoM-page-header-title {
            display: flex;
            flex-direction: column;

            .kellojoM-page-header-title-text {
                font-size: @titleFontSize;
                margin-bottom: @lineSpacing
            }
        }
    }

    .kellojoM-page-content {
        flex-grow: 1;

        padding: @defaultPadding 2 * @defaultPadding 2 * @defaultPadding 2 * @defaultPadding;
    }
    
    &.kellojoM-page-flg-scrollStarted {
        .kellojoM-page-header {
            box-shadow: @defaultBoxShadow;
        }
    }
}

.sap-phone {
    .kellojoM-page {

        .kellojoM-page-header {
            flex-direction: column;
            padding: 0px;
            background-color: #395E66;

            >div {
                max-width: 100%;
            }

            .sapMText, .sapMLabel {
                color: @white;
            }

            .kellojoM-page-header-mainAction {
                .sapMSF {
                    max-width: 100%;
                }
            }

            .kellojoM-page-header-Actions {
                display: none;
            }
        }

        .kellojoM-page-content {
            padding: 0px;
        }
    }
}