
.kellojoMNoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .sapMText {
        text-align: center !important;
    }
}

.kellojoMNoData-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2* @defaultPadding;
}

.kellojoMNoData-icon {
    margin-bottom: 2 * @defaultPadding;
    font-size: @brandingFontSize;

    background-image: linear-gradient(to left, @budgetBookApp-BrandColor, @budgetBookApp-BrandColorSecondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}