

.kellojoMAnimatedCard {
    background-color: @sapUiListBackground;

    position: relative;
    border-radius: @roundBorderRadius;
    transition: all @defaultTransitionDuration ease-out !important;
    transform-style: preserve-3d;
    box-shadow: @highlightBoxShadow;
}

.kellojoMAnimatedCard:hover {
    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}