

.kellojoMDialog {
    opacity: 0;
    transform: scale(1.06) !important;
    transition: all @defaultTransitionDuration ease-out !important;
    display: block !important;

    &.sapMDialogOpen {
        opacity: 1 !important;
        transform: scale(1) !important;
    }
}