.kellojoMSubscriptionTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: @defaultPadding;
    border-radius: 2 * @roundBorderRadius;
    background-color: @sapUiGroupContentBackground;
    box-shadow: @defaultBoxShadow;

    transition-duration: @defaultTransitionDuration;
    transition-timing-function: ease-out;
    transition-property: box-shadow, transform;
}

.kellojoMSubscriptionTile-price {
    margin-top: @halfPadding;
}

.kellojoMSubscriptionTile-content {
    margin: @defaultPadding 0;
    transform: translateZ(5px);

    > :not(:last-child) {
        margin-bottom: @defaultPadding;
    }
}

.kellojoMSubscriptionTile-submitButton {
    margin-top: auto;
    transform: translateZ(10px);
}





// --------------------
// Colors
// --------------------

.kellojoMSubscriptionTile-color-BudgetP {
    background: linear-gradient(to top right, @budgetBookApp-BrandColor, @budgetBookApp-BrandColorSecondary);
    box-shadow: @highlightBoxShadow;

    .sapMLabel,
    .kellojoMSubscriptionTile-price,
    .kellojoMSubscriptionTile-name {
        color: @sapUiContentContrastTextColor;
        transform: translateZ(10px);
    }

    &:hover {
        box-shadow: @highlightBoxShadowHover;
        transform: scale(1.05);
    }
}