.kellojoMTag {
    padding: @tinyPadding / 2 @tinyPadding;
    border: 1px solid @sapUiListBorderColor;
    color: @sapUiContentLabelColor;
    border-radius: @roundBorderRadius;
    font-size: @smallFontSize;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sapMLIBActive .kellojoMTag {
    color: @sapUiListActiveTextColor;
    -webkit-text-fill-color: @sapUiListActiveTextColor;
    border-color: @sapUiListActiveTextColor;
}

.kellojoMTag-flg-left {
    margin-left: @tinyPadding;
}

.kellojoMTag-color-BudgetP {
    &:extend(.kellojoMBrandText);

    border-color: @budgetBookApp-BrandColor;
}